.box {
    height: 200px;
    width: 200px;
    background: green;  
    display: inline-block;  
    max-width: 50px;
    margin: 10px;
    padding: 100px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;


    /* No postion */
    /* position: static; */
    position: relative;
    top: 50px;
    left: 10px;
}

.boxed {
    width: 200px;
    height: 200px;
    background: green;
    display: -webkit-flex;
    display: flex;
}


.margin {
    margin: auto;
    width: 200px;
    height: 200px;
    background: green;
}

.float {
    width: 200px;
    height: 200px;
    float: right;
    background: green;
}

.clear {
    clear: left;
}

.clearfix {
    /* stretches container to match picture */
    overflow: auto;
    min-width: 100px;
    min-height: 100px;
    zoom: 1;
    background: green;
}

.three-column {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
  }

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: green;
}

.absolute {
    position: fixed;
    bottom: 200px;
    right: 200px;
    width: 200px;
    height: 200px;
    background: green;

}

body {
    background: blue;
    
}

p {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

p {

}