div {
    height: 500px;
    width: 500px;
    background: green;  
    display: block;  
    max-width: 300px;
    margin: auto;
}

body {
    background: blue;
    
}

p {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

p {

}