.box {
    height: 200px;
    width: 200px;
    background: green;  
    display: block;  
    max-width: 50px;
    margin: auto;
    padding: 100px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;


    /* No postion */
    /* position: static; */
    position: relative;
    top: 50px;
    left: 10px;
    float: left;
}

.clear {
    clear:left;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: green;
}

.absolute {
    position: fixed;
    bottom: 200px;
    right: 200px;
    width: 200px;
    height: 200px;
    background: green;

}

body {
    background: blue;
    
}

p {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

p {

}